@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Urbanist', sans-serif;
}
.mainContainer{
    width: 100%;
    height: 100vh;
   
}
.header{
    width: 90%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoHeader{
   width: 30%;
   height: 90%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.text_logoHeader{
    font-weight: 900;
    font-size: calc(3rem + 0.8vw);
}
.menuHeader{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    grid-gap: 30px;
}
.link_menuHeader{
    text-decoration: none;
    color: black;
    font-size: calc(0.5rem + 0.8vw);
   
}
.linkGet{
    padding: 8px 25px;
    color: white;
    border-radius: 40px;
    background-color: #6f9bc0;
}
.hero{
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textHero{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_textHero{
    font-weight: 500;
    font-size: calc(1rem + 0.8vw);
}
.subtitle_textHero{
    font-weight: 300;
    font-size: calc(0.8rem + 0.8vw);
}
.but{
    width: 40%;
    text-decoration: none;
    font-size: calc(0.5rem + 0.8vw);
    text-align: center;

}
.container_textHero{
    width: 80%;
    height: 50%;
    display: flex;
    grid-gap: 10px;
    flex-direction: column;
}
.imageHero{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgHero{
    width: 90%;
    max-width: 400px;
}